In [31]:
import pandas as pd
import numpy as np

df = pd.read_csv("books.csv")
#pedro
df.dropna(subset=["isbn", "isbn13"], inplace=True)  #¿Esto borra los libros sin isbn? ¿Es correcto?
df = df.drop(['asin', 'kindle_asin', 'marketplace_id'], axis=1)  #La podemos unificar con el drop columns de David
df.publisher = df.publisher.fillna(value="unknow")
df.language_code = df.language_code.fillna(value="unknow")

# ¿Eliminamos la columna country_code? Puede que con el dataset final no sea iguales todos los valores

#david
df.drop(columns=["books_count", "best_book_id", "original_title"], inplace=True)
df.media_type = df.media_type.fillna(value='unknown')
df.num_ratings_5 = df.num_ratings_5.fillna(value=0)
df.num_ratings_4 = df.num_ratings_4.fillna(value=0)
df.num_ratings_3 = df.num_ratings_3.fillna(value=0)
df.num_ratings_2 = df.num_ratings_2.fillna(value=0)
df.num_ratings_1 = df.num_ratings_1.fillna(value=0)
df.reviews_count = df.reviews_count.fillna(value=0)
df.ratings_sum = df.ratings_sum.fillna(value=0)
df.ratings_count = df.ratings_count.fillna(value=0)
df.text_reviews_count = df.text_reviews_count.fillna(value=0)

#daniel
df.average_rating = df.average_rating.fillna(value="unknow")
df.loc[df.num_pages == 0, "num_pages"] = np.nan
df.format = df.format.fillna(value="unknow")
df.edition_information = df.edition_information.fillna(value="unknow")
df.ratings_count_global = df.ratings_count_global.fillna(value=0)
df.text_reviews_count_global = df.text_reviews_count_global.fillna(value=0)
df.to_read = df.to_read.fillna(value=0)
df.read = df.read.fillna(value=0)
df.currently_reading = df.currently_reading.fillna(value=0)

In [32]:
df.head()

,id,isbn,title,isbn13,country_code,publication_date,publisher,language_code,is_ebook,reviews_count,...,text_reviews_count_global,authors,illustrator,contributor,editor,translator,narrator,to_read,read,currently_reading
0,1,0439785960,Harry Potter and the Half-Blood Prince (Harry ...,9.780440e+12,ES,2006/9/16,Scholastic Inc.,eng,False,2487127,...,25808,['J.K. Rowling'],['Mary GrandPré'],[],[],[],[],229844,7494,22366.0
1,3,0439554934,Harry Potter and the Sorcerer's Stone (Harry P...,9.780440e+12,ES,1997/6/26,Scholastic Inc,eng,False,6594773,...,69227,['J.K. Rowling'],['Mary GrandPré'],[],[],[],[],4532,15029,87967.0
2,5,043965548X,Harry Potter and the Prisoner of Azkaban (Harr...,9.780440e+12,ES,2004/5/1,Scholastic Inc.,eng,False,2964322,...,33352,['J.K. Rowling'],['Mary GrandPré'],[],[],[],[],193343,10472,32019.0
3,7,0439887453,"The Harry Potter Collection (Harry Potter, #1-6)",9.780440e+12,ES,2006/9/1,Scholastic,eng,False,37490,...,115,['J.K. Rowling'],['Mary GrandPré'],[],[],[],[],4527,24,190.0
4,9,0976540606,"Unauthorized Harry Potter Book Seven News: ""Ha...",9.780977e+12,ES,2005/4/26,Nimble Books,en-US,False,78,...,1,['W. Frederick Zimmerman'],[],[],[],[],[],27,2,0.0

In [34]:
df.loc[(~df.authors.str.contains("^\['[^,]+'\]$", regex=True))][:5]

,id,isbn,title,isbn13,country_code,publication_date,publisher,language_code,is_ebook,reviews_count,...,text_reviews_count_global,authors,illustrator,contributor,editor,translator,narrator,to_read,read,currently_reading
11,45,097669400X,Agile Web Development with Rails: A Pragmatic ...,9.780977e+12,ES,2005/7/28,Pragmatic Bookshelf,eng,False,3602,...,59,"['Andreas Schwarz', 'Dave Thomas', 'David Hei...",[],[],[],[],[],885,7,175.0
12,51,1557344493,"Hatchet: A Guide for Using ""Hatchet"" in the Cl...",9.781557e+12,ES,1994/8/28,Teacher Created Resources,eng,False,65,...,2,"['Donna Ickes', 'Edward Sciranko']",['Keith Vasconcelles'],[],[],[],[],14,0,0.0
15,57,1595962808,A Changeling for All Seasons (Changeling Seaso...,9.781596e+12,ES,2005/11/1,Changeling Press,eng,False,405,...,4,"['Angela Knight', 'Judy Mays', 'Kate Douglas',...",[],[],[],[],[],182,8,0.0
23,91,0800793617,Always Enough: God's Miraculous Provision Amon...,9.780801e+12,ES,2003/9/1,Chosen Books,eng,False,2051,...,53,"['Heidi Baker', 'Rolland Baker']",[],[],[],[],[],950,12,44.0
25,99,0972016414,The Player's Handbook: The Ultimate Guide on D...,9.780972e+12,ES,2004/5/10,One Hour Entertainment,eng,False,168,...,8,"['Heidi Fleiss', 'Libby Keatinge']",[],[],[],[],[],105,3,5.0

In [39]:
df.authors.str.get_dummies(sep=",")[:5]

,'Ben Collins-Sussman','Bob Woofter'],'Brian W. Fitzpatrick'],'Cameron Moll','Chad Fowler','Dan Harrington'],'Daniel Goleman','Darrell Dawsey'],'Darwin Holmstrom'],'Dave Thomas',...,['Thucydides'],['Tim Bogenn'],['Tom Wolfe'],['Upasika Kee Nanayon'],['Victor Davis Hanson'],['Vinson Synan'],['W. Frederick Zimmerman'],['W. Timothy Gallwey'],['Wallace Edwards'],[]
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0